* {box-sizing: border-box; background:#bfefff;font-family:Comic 
 Sans MC, sans-serif;}
body {	display: block;}
#flex-container { display: flex; height: 500px; flex-direction: column; flex-wrap: nowrap; align-items: center; }
#flex-container > div {border: 0px solid; width: 1000px; margin: 5px; padding: 5px; }

#grid-container {display: grid; grid-template-columns: 210px 120px ; grid-template-rows: ; align-content: center; justify-content: center; }
#grid-container > div {border: 1px solid silver; margin: 0px; padding: 3px; }

#flex-container-2 {display: flex; flex-wrap: nowrap; align-content: center; justify-content: center; align-items: center; }
#flex-container-2 > div {border: 0px solid; margin:5px; 
  margin-right: px; padding: 0px; }

h3{text-indent:1.5em;}
p{text-indent:5px;margin-left:5px;}

ul{margin-left:0.5em;padding-left:1.5em;}

#img_0{margin-left:710px;}

#flex-container_a {display: flex; height: 88px; flex-wrap: wrap; align-content: center; justify-content: center; align-items: center; }
#flex-container_a > div {border: 0px solid; margin: 15px; padding: 0px; }

/*    
<h3></h3>
<p></p>
<li></li>
<ul></ul>
<ol>
<li></li>
<li></li>
<li></li>
</ol> */